:root {
  --accent-color: #2196f3;
  --main-color: #212121;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:focus, .menu__link:hover {
  color: var(--accent-color);
}

.menu__link-current {
  color: var(--accent-color);
  text-decoration: none;
}

.menu__link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
  margin-bottom: -1px;
}

.menu__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contacts-link:hover, .menu__contacts-link:focus {
  color: var(--accent-color);
}

.menu__contacts-link:hover .icon-header, .menu__contacts-link:focus .icon-header {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.icon-header {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bth {
  text-align: center;
  padding: 10px 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.our-work__container-suptitle {
  position: absolute;
  top: 224px;
  left: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team-description {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: #757575;
}

.portfolio-description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 15;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 83px 48px 40px;
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__btn:hover, .mobile-menu__btn:focus {
    fill: var(--accent-color);
  }
  .mobile-nav {
    margin-bottom: 302px;
  }
  .mobile-nav,
  .mobile-contacts,
  .mobile-social {
    padding: 0;
    list-style: none;
  }
  .mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: var(--accent-color);
  }
  .mobile-nav__link.current {
    position: relative;
    color: var(--accent-color);
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts__item-tel {
    margin-bottom: 32px;
  }
  .mobile-contacts {
    margin-bottom: 64px;
  }
  .mobile-contacts__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
  }
  .mobile-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
  }
  .mobile-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social__link {
    color: var(--accent-color);
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.hero__title {
  margin: 0px auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-work__title-h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}

.title-h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}

.title-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--main-color);
}

.title-h3-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list {
  padding: 0%;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-social-list-icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-btn,
.close-button:focus .close-btn {
  fill: var(--accent-color);
}

.close-btn {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 8px;
  right: 8px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus, .modal-form-input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .modal-icon, .modal-form-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  cursor: pointer;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus, .modal-form-message:hover {
  border-color: var(--accent-color);
  outline: none;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox-policy {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox-policy::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/modal-check1.svg);
  background-color: var(--accent-color);
  background-origin: content-box;
  background-size: contain;
  border-color: v;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal-form-policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  align-self: center;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus, .modal-form-btn:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.bth-menu {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--main-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bth-menu:focus, .bth-menu:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-flex;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header__mobile-menu-btn:hover, .header__mobile-menu-btn:focus {
  fill: var(--primary-accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1200px;
  }
  .header__mobile-menu-btn {
    display: none;
  }
  .menu {
    padding-top: 32px;
    display: flex;
    margin-left: 93px;
  }
  .menu .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:focus, .menu__link:hover {
    color: var(--accent-color);
  }
  .menu__link-current {
    color: var(--accent-color);
    text-decoration: none;
  }
  .menu__link-current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
    margin-bottom: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
  .logo {
    margin-right: 93px;
  }
}

.menu {
  display: none;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__contacts-list {
    display: block;
  }
  .menu__contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu__contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__contacts-link:hover, .menu__contacts-link:focus {
    color: var(--accent-color);
  }
  .icon-header {
    margin-right: 10px;
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
  }
  .icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
  }
  .icon-header {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .menu__contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .menu__contacts .menu__contacts-list:not(:last-child) {
    margin-right: 20px;
  }
}

.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  color: #ffffff;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/hero.jpg);
  background-size: cover;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.modal-bth {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  line-height: 1.87;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bth:hover, .modal-bth:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
  }
}

.about-us__item::before {
  content: '';
  display: block;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(..//images/antenna.png);
}

.icon-clock::before {
  background-image: url(..//images/clock.png);
}

.icon-comp::before {
  background-image: url(..//images/comp.png);
}

.icon-astronaut::before {
  background-image: url(..//images/astronaut.png);
}

.about-us__suptitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.about-us__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .about-us__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .about-us__item {
    min-width: 354px;
    min-height: 251px;
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__list {
    display: flex;
  }
  .about-us__item {
    min-width: 270px;
    min-height: 251px;
    flex-basis: calc((100% - 120px) / 4);
  }
  .about-us__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work__list {
  display: flex;
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__container {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.card-team {
  padding: 30px 30px;
}

.our-team__title-h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: -15px;
    list-style: none;
  }
  .our-team__item {
    margin: 15px;
  }
  .our-team .card-team {
    padding: 30px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    min-width: 270px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.clients {
  padding: 94px 0px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
  list-style: none;
}

.clients-list-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item {
  height: 92px;
  display: flex;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-list-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .title-h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.18;
  }
  .clients-list-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:focus, .clients-list-link:hover {
  border-color: var(--accent-color);
}

.clients-list-link:focus .clients-list-icon, .clients-list-link:hover .clients-list-icon {
  fill: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  width: 145px;
  height: 31px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.footer-logo2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #ffffff;
}

.footer-list .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.input-footer {
  padding-left: 16px;
  width: 450px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

.btn-send {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
}

.icon-send-footer {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
}

.footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}

.container-footer {
  align-items: baseline;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-address,
  .footer-social {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-social {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 0;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .form-footer-form {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    text-align: start;
  }
  .form-footer {
    margin-left: auto;
  }
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer-address-list {
  list-style: none;
  padding-left: 0;
}

.footer-address-item:not(:last-child):not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link-map {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link-map:hover, .footer-address-link-map:focus {
  color: var(--accent-color);
}

.footer-address-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover, .footer-address-link:focus {
  color: var(--accent-color);
}

.h3-footer {
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-social-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.footer-social-list .social-list-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  outline: none;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.h3-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .input-footer {
    height: 50px;
    padding: 0 0 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
    background-color: #2f303a;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .input-footer:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .input-footer::placeholder {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) and (max-width: 480px) {
  .footer-input {
    width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) and (min-width: 480px) and (max-width: 1199px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .btn-send {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0 0 0 29px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    text-align: start;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-send:hover, .btn-send:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .icon-send-footer {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
}

.menu-portfolio {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-portfolio-list .menu-portfolio-link:not(:last-child) {
  margin-right: 8px;
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.hero-portfolio-list:nth-child(3n) {
  margin-right: 0px;
}

.hero-portfolio-link {
  display: block;
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.hero-portfolio-link:not(:nth-child(3n-2)) {
  margin-left: 30px;
}

.portfolio-card {
  border-top: none;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0px;
}

.hero-portfolio-link-wrapper {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-portfolio-link-wrapper:hover, .hero-portfolio-link-wrapper:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.hero-portfolio-link-wrapper:hover .overlay, .hero-portfolio-link-wrapper:focus .overlay {
  transform: translateY(0%);
}

.hero-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-footer-link-map {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */