// .menu-portfolio {
//     display: block;
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   .menu-portfolio-list {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;

//     .menu-portfolio-link:not(:last-child) {
//       margin-right: 8px;
//     }
//   }

  
.menu-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
  }
.menu-portfolio-link:not(:last-child){
  margin-right: 8px;
}

@media screen and(max-width:767px) {
  .menu-portfolio-link:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
}

// 768px++
@media screen and(min-width:768px) {
  .menu-portfolio-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

// 1200px++
@media screen and(min-width:1200px) {
  .menu-portfolio-list {
    margin-bottom: 50px;
  }
}
