//   .about-us__list {
//     display: flex;

//     .about-us__item:not(:last-child) {
//       margin-right: 30px;
//     }
//   }
  
.about-us__item::before {
  content: '';
  display: block;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(..//images/antenna.png);
}
.icon-clock::before {
  background-image: url(..//images/clock.png);
}
.icon-comp::before {
  background-image: url(..//images/comp.png);
}
.icon-astronaut::before {
  background-image: url(..//images/astronaut.png);
}

.about-us__suptitle {
  margin-top: 30px;
  margin-bottom: 10px;
  

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-us__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
@media screen and(max-width:767px ) {
  .about-us__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .about-us__suptitle{
    text-align: center;
  }

}

//768-1199
@media screen and(min-width:768px) and(max-width:1199px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .about-us__item {
    min-width: 354px;
    min-height: 251px;
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

//1200px ++
@media screen and (min-width: 1200px) {
.about-us__list {
  display: flex;
}

.about-us__item {
  min-width: 270px;
  min-height: 251px;
  flex-basis: calc((100% - 120px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
}