.menu__contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      
      .icon-header {
        color: var(--accent-color);
        fill: var(--accent-color);
      }
        }
  }
  
  .menu__contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    .menu__contacts-list:last-child {
      margin-left: 50px;
    }
  }
  
  .icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
  }
  .icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
  }
  .icon-header {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
