.menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
  
  .menu__link-current {
    color: var(--accent-color);
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;
        margin-top: 28px;
        margin-bottom: -1px;
      }
  }
  
  .menu {
    padding-top: 32px;
    display: flex;
    margin-left: 93px;

    .menu__item:not(:last-child) {
        margin-right: 50px;
      }
  }  