
.modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
  }
  
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-input:focus,
  .modal-form-input:hover {
    border-color: var(--accent-color);
    outline: none;
  }
  
  .modal-form-input:focus + .modal-icon,
  .modal-form-input:hover + .modal-icon {
    fill: var(--accent-color);
  }
  .modal-form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 10px;
  }
  
  .modal-form-checkbox-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .modal-form-input-wrapper {
    position: relative;
    margin-top: 4px;
    display: block;
    cursor: pointer;
  }
  
  .modal-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  .modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
  
    cursor: pointer;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  .modal-form-message::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus,
  .modal-form-message:hover{
    border-color: var(--accent-color);
    outline: none;
  
  }
  
  .policy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
  }
  
  .modal-form-checkbox-policy {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .modal-form-policy-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  
  .modal-form-checkbox-policy::before{
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .modal-form-checkbox:checked + .modal-form-checkbox-policy::before{
      background-image: url(../images/modal-check1.svg);
      background-color: var(--accent-color);
      background-origin: content-box;
      background-size: contain;
      border-color: var(--accent-color);
      }
  
 .modal-form-checkbox:focus + .modal-form-checkbox-policy::before{
        border-color: var(--accent-color);
        }
  
  .modal-form-btn {
    width: 200px;
    height: 50px;
    align-self: center;
    background:var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-btn:focus,
  .modal-form-btn:hover{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }