.modal-bth {
    text-align: center;
    padding: 10px 32px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;
  
    cursor: pointer;
  }
  