.suptitle {
    margin-top: 30px;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
  }

  .our-work-suptitle {
    position: absolute;
    top: 224px;
    left: 0px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }