.hero-title {
    margin: 0px auto;
    margin-bottom: 30px;
    max-width: 696px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .title-h2 {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-color);
  }

  .title-h2-team {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-color);
  }

  .title-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--main-color);
  }
  
  .title-h3-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }